.Table_flexbox{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    border: black solid 1px;
    background-color: blueviolet;
    border-radius: 10px;
}
img{
    max-width: 100%;
    height: auto;
}
span{

    display: block;
    color:darkred;
    font-weight: bold;

}
h1{
    text-align: center;
}
h2 {
    text-align: center;
    color:goldenrod;
}
strong{

}
.way_too_big{
    height: 250px;
    width: 250px
}
#header {
     display: flex;
    text-align: center;
    background-color: lightgray;
    flex-direction: column;
}
#Contact {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-flow : column;
}
#Int1{
    display: block;
    text-align: center;
    justify-content: center;
    background-color: lightblue;
}

.Int2M{
    display: flex;
    flex-shrink: 1;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    background-color:cornflowerblue;
    width: auto;
    align-items: center;


}

.P\!{
    text-align: center;
}
.Int3 {
    display: flex;
    flex-shrink: 1;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    background-color: orange;
    flex-wrap: wrap;
}
.game-item {
    margin: 10px;
}

.game-item img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}


iframe {

    margin: 0 auto;
    display: flex;
    border: orange dashed 2px;
    justify-items: center;
    text-align: center;
}

body{
}
#Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    border: chartreuse dashed 2px;
    color: blue;
    text-decoration: none;
}

a:hover{
    border: chartreuse dashed 3px;
    color: darkblue;
    text-decoration: underline;
}

a:active{
    border: chartreuse dashed 4px;
    color: darkgray;
    text-decoration: underline;
}
a:visited{
    border: chartreuse dashed 2px;
    color: gray;
    text-decoration: underline;
}
.Int3 > h2 {
    margin-bottom: 10px;
    color: darkred;
}